#define _CONCAT(a, b) a ## b
#define CONCAT(a, b) _CONCAT(a, b)

#define des_label max_des_0
#define des_in_label CONCAT(des_label, _in_)
#define des_in_label_x(x) CONCAT(des_in_label, x)
#define des_i2c_label CONCAT(des_label, _i2c_)
#define des_i2c_label_x(x) CONCAT(des_i2c_label, x)

&i2c_bus {
	des_label: gmsl-deserializer@27 {
		#address-cells = <1>;
		#size-cells = <0>;

		compatible = "maxim,max96724";
		reg = <0x27>;
	};
};

&des_label {
	i2c-alias-pool = <0x40 0x41 0x42 0x43>;

	i2c-atr {
		#address-cells = <1>;
		#size-cells = <0>;
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

#define ser_label CONCAT(des_label, _ser_0)

#define ser_in_label CONCAT(ser_label, _in_)
#define ser_in_label_x(x) CONCAT(ser_in_label, x)
#define ser_out_label CONCAT(ser_label, _out)
#define ser_out_remote_label des_in_label_x(0)

#define ser_i2c_label CONCAT(ser_label, _i2c_)
#define ser_i2c_label_x(x) CONCAT(ser_i2c_label, x)

#define i2c_label des_i2c_label_x(0)
&des_label {
	i2c-atr {
		i2c_label: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x0>;
		};
	};
};

&i2c_label {
	ser_label: gmsl-serializer@40 {
		#address-cells = <1>;
		#size-cells = <0>;
		#gpio-cells = <2>;

		compatible = "maxim,max96717";
		reg = <0x40>;

		gpio-controller;
		gpio-ranges = <&ser_label 0 0 11>;
	};
};
#undef i2c_label

&ser_label {
	i2c-alias-pool = <0x50 0x51>;

	i2c-atr {
		#address-cells = <1>;
		#size-cells = <0>;
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;

			ser_out_label: endpoint {
				remote-endpoint = <&ser_out_remote_label>;
			};
		};
	};
};

&des_label {
	ports {
		port@0 {
			reg = <0x0>;

			ser_out_remote_label: endpoint {
				remote-endpoint = <&ser_out_label>;
			};
		};
	};
};

#define cam_label CONCAT(ser_label, _cam_0)
#define vcm_label CONCAT(ser_label, _vcm_0)

#define cam_out_label CONCAT(cam_label, _out)
#define cam_out_remote_label ser_in_label_x(0)

#define i2c_label ser_i2c_label_x(0)
&ser_label {
	i2c-atr {
		i2c_label: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x0>;
		};
	};
};

#define i2c_csi_dsi0 i2c_label
#define cam_node cam_label
#define cam_endpoint cam_out_label
#define vcm vcm_label
#include "rpi5-csi0-imx219.dtsi"
#undef vcm
#undef cam_node
#undef cam_endpoint
#undef i2c_csi_dsi0

#undef i2c_label

&cam_label {
	status = "okay";

	reset-gpios = <&ser_label 0 GPIO_ACTIVE_HIGH>;
};

&cam_out_label {
	remote-endpoint = <&cam_out_remote_label>;
};

&ser_label {
	ports {
		port@0 {
			reg = <0>;

			cam_out_remote_label: endpoint {
				remote-endpoint = <&cam_out_label>;
			};
		};
	};
};

&cam_out_remote_label {
	clock-lanes = <0>;
	data-lanes = <1 2>;
	clock-noncontinuous;
	link-frequencies = /bits/ 64 <456000000>;
};

#undef cam_out_remote_label
#undef cam_out_label
#undef cam_label

#undef ser_i2c_label_x
#undef ser_i2c_label

#undef ser_out_remote_label
#undef ser_out_label

#undef ser_in_label_x
#undef ser_in_label

#undef ser_label
#define ser_label CONCAT(des_label, _ser_1)

#define ser_in_label CONCAT(ser_label, _in_)
#define ser_in_label_x(x) CONCAT(ser_in_label, x)
#define ser_out_label CONCAT(ser_label, _out)
#define ser_out_remote_label des_in_label_x(1)

#define ser_i2c_label CONCAT(ser_label, _i2c_)
#define ser_i2c_label_x(x) CONCAT(ser_i2c_label, x)

#define i2c_label des_i2c_label_x(1)
&des_label {
	i2c-atr {
		i2c_label: i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x1>;
		};
	};
};

&i2c_label {
	ser_label: gmsl-serializer@40 {
		#address-cells = <1>;
		#size-cells = <0>;
		#gpio-cells = <2>;

		compatible = "maxim,max96717";
		reg = <0x40>;

		gpio-controller;
		gpio-ranges = <&ser_label 0 0 11>;
	};
};
#undef i2c_label

&ser_label {
	i2c-alias-pool = <0x50 0x51>;

	i2c-atr {
		#address-cells = <1>;
		#size-cells = <0>;
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;

			ser_out_label: endpoint {
				remote-endpoint = <&ser_out_remote_label>;
			};
		};
	};
};

&des_label {
	ports {
		port@1 {
			reg = <0x1>;

			ser_out_remote_label: endpoint {
				remote-endpoint = <&ser_out_label>;
			};
		};
	};
};

#define cam_label CONCAT(ser_label, _cam_0)
#define vcm_label CONCAT(ser_label, _vcm_0)

#define cam_out_label CONCAT(cam_label, _out)
#define cam_out_remote_label ser_in_label_x(0)

#define i2c_label ser_i2c_label_x(0)
&ser_label {
	i2c-atr {
		i2c_label: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x0>;
		};
	};
};

#define i2c_csi_dsi0 i2c_label
#define cam_node cam_label
#define cam_endpoint cam_out_label
#define vcm vcm_label
#include "rpi5-csi0-imx219.dtsi"
#undef vcm
#undef cam_node
#undef cam_endpoint
#undef i2c_csi_dsi0

#undef i2c_label

&cam_label {
	status = "okay";

	reset-gpios = <&ser_label 0 GPIO_ACTIVE_HIGH>;
};

&cam_out_label {
	remote-endpoint = <&cam_out_remote_label>;
};

&ser_label {
	ports {
		port@0 {
			reg = <0>;

			cam_out_remote_label: endpoint {
				remote-endpoint = <&cam_out_label>;
			};
		};
	};
};

&cam_out_remote_label {
	clock-lanes = <0>;
	data-lanes = <1 2>;
	clock-noncontinuous;
	link-frequencies = /bits/ 64 <456000000>;
};

#undef cam_out_remote_label
#undef cam_out_label
#undef cam_label

#undef ser_i2c_label_x
#undef ser_i2c_label

#undef ser_out_remote_label
#undef ser_out_label

#undef ser_in_label_x
#undef ser_in_label

#undef ser_label
#define ser_label CONCAT(des_label, _ser_2)

#define ser_in_label CONCAT(ser_label, _in_)
#define ser_in_label_x(x) CONCAT(ser_in_label, x)
#define ser_out_label CONCAT(ser_label, _out)
#define ser_out_remote_label des_in_label_x(2)

#define ser_i2c_label CONCAT(ser_label, _i2c_)
#define ser_i2c_label_x(x) CONCAT(ser_i2c_label, x)

#define i2c_label des_i2c_label_x(2)
&des_label {
	i2c-atr {
		i2c_label: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x2>;
		};
	};
};

&i2c_label {
	ser_label: gmsl-serializer@40 {
		#address-cells = <1>;
		#size-cells = <0>;
		#gpio-cells = <2>;

		compatible = "maxim,max96717";
		reg = <0x40>;

		gpio-controller;
		gpio-ranges = <&ser_label 0 0 11>;
	};
};
#undef i2c_label

&ser_label {
	i2c-alias-pool = <0x50 0x51>;

	i2c-atr {
		#address-cells = <1>;
		#size-cells = <0>;
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;

			ser_out_label: endpoint {
				remote-endpoint = <&ser_out_remote_label>;
			};
		};
	};
};

&des_label {
	ports {
		port@2 {
			reg = <0x2>;

			ser_out_remote_label: endpoint {
				remote-endpoint = <&ser_out_label>;
			};
		};
	};
};

#define cam_label CONCAT(ser_label, _cam_0)
#define vcm_label CONCAT(ser_label, _vcm_0)

#define cam_out_label CONCAT(cam_label, _out)
#define cam_out_remote_label ser_in_label_x(0)

#define i2c_label ser_i2c_label_x(0)
&ser_label {
	i2c-atr {
		i2c_label: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x0>;
		};
	};
};

#define i2c_csi_dsi0 i2c_label
#define cam_node cam_label
#define cam_endpoint cam_out_label
#define vcm vcm_label
#include "rpi5-csi0-imx219.dtsi"
#undef vcm
#undef cam_node
#undef cam_endpoint
#undef i2c_csi_dsi0

#undef i2c_label

&cam_label {
	status = "okay";

	reset-gpios = <&ser_label 0 GPIO_ACTIVE_HIGH>;
};

&cam_out_label {
	remote-endpoint = <&cam_out_remote_label>;
};

&ser_label {
	ports {
		port@0 {
			reg = <0>;

			cam_out_remote_label: endpoint {
				remote-endpoint = <&cam_out_label>;
			};
		};
	};
};

&cam_out_remote_label {
	clock-lanes = <0>;
	data-lanes = <1 2>;
	clock-noncontinuous;
	link-frequencies = /bits/ 64 <456000000>;
};

#undef cam_out_remote_label
#undef cam_out_label
#undef cam_label

#undef ser_i2c_label_x
#undef ser_i2c_label

#undef ser_out_remote_label
#undef ser_out_label

#undef ser_in_label_x
#undef ser_in_label

#undef ser_label
#define ser_label CONCAT(des_label, _ser_3)

#define ser_in_label CONCAT(ser_label, _in_)
#define ser_in_label_x(x) CONCAT(ser_in_label, x)
#define ser_out_label CONCAT(ser_label, _out)
#define ser_out_remote_label des_in_label_x(3)

#define ser_i2c_label CONCAT(ser_label, _i2c_)
#define ser_i2c_label_x(x) CONCAT(ser_i2c_label, x)

#define i2c_label des_i2c_label_x(3)
&des_label {
	i2c-atr {
		i2c_label: i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x3>;
		};
	};
};

&i2c_label {
	ser_label: gmsl-serializer@40 {
		#address-cells = <1>;
		#size-cells = <0>;
		#gpio-cells = <2>;

		compatible = "maxim,max96717";
		reg = <0x40>;

		gpio-controller;
		gpio-ranges = <&ser_label 0 0 11>;
	};
};
#undef i2c_label

&ser_label {
	i2c-alias-pool = <0x50 0x51>;

	i2c-atr {
		#address-cells = <1>;
		#size-cells = <0>;
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;

			ser_out_label: endpoint {
				remote-endpoint = <&ser_out_remote_label>;
			};
		};
	};
};

&des_label {
	ports {
		port@3 {
			reg = <0x3>;

			ser_out_remote_label: endpoint {
				remote-endpoint = <&ser_out_label>;
			};
		};
	};
};

#define cam_label CONCAT(ser_label, _cam_0)
#define vcm_label CONCAT(ser_label, _vcm_0)

#define cam_out_label CONCAT(cam_label, _out)
#define cam_out_remote_label ser_in_label_x(0)

#define i2c_label ser_i2c_label_x(0)
&ser_label {
	i2c-atr {
		i2c_label: i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x0>;
		};
	};
};

#define i2c_csi_dsi0 i2c_label
#define cam_node cam_label
#define cam_endpoint cam_out_label
#define vcm vcm_label
#include "rpi5-csi0-imx219.dtsi"
#undef vcm
#undef cam_node
#undef cam_endpoint
#undef i2c_csi_dsi0

#undef i2c_label

&cam_label {
	status = "okay";

	reset-gpios = <&ser_label 0 GPIO_ACTIVE_HIGH>;
};

&cam_out_label {
	remote-endpoint = <&cam_out_remote_label>;
};

&ser_label {
	ports {
		port@0 {
			reg = <0>;

			cam_out_remote_label: endpoint {
				remote-endpoint = <&cam_out_label>;
			};
		};
	};
};

&cam_out_remote_label {
	clock-lanes = <0>;
	data-lanes = <1 2>;
	clock-noncontinuous;
	link-frequencies = /bits/ 64 <456000000>;
};

#undef cam_out_remote_label
#undef cam_out_label
#undef cam_label

#undef ser_i2c_label_x
#undef ser_i2c_label

#undef ser_out_remote_label
#undef ser_out_label

#undef ser_in_label_x
#undef ser_in_label

#undef ser_label

#undef des_label
#undef des_in_label
#undef des_i2c_label

#undef _CONCAT
#undef CONCAT
