// SPDX-License-Identifier: (GPL-2.0 OR MIT)

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/clock/raspberrypi,rp1-clocks.h>

/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target-path="";
		__overlay__ {
			compatible = "pci1de4,1";
			#address-cells = <3>;
			#size-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;

			pci_ep_bus: pci-ep-bus@1 {
				compatible = "simple-bus";
				ranges = <0xc0 0x40000000
					  0x01 0x00 0x00000000
					  0x00 0x00400000>;
				dma-ranges = <0x10 0x00000000
					      0x43000000 0x10 0x00000000
					      0x10 0x00000000>;
				#address-cells = <2>;
				#size-cells = <2>;

				rp1_clocks: clocks@c040018000 {
					compatible = "raspberrypi,rp1-clocks";
					reg = <0xc0 0x40018000 0x0 0x10038>;
					#clock-cells = <1>;
					clocks = <&clk_rp1_xosc>;
					clock-names = "xosc";
					assigned-clocks = <&rp1_clocks RP1_PLL_SYS_CORE>,
							  <&rp1_clocks RP1_PLL_SYS>,
							  <&rp1_clocks RP1_CLK_SYS>;
					assigned-clock-rates = <1000000000>, // RP1_PLL_SYS_CORE
							       <200000000>,  // RP1_PLL_SYS
							       <200000000>;  // RP1_CLK_SYS
				};

				rp1_gpio: pinctrl@c0400d0000 {
					compatible = "raspberrypi,rp1-gpio";
					reg = <0xc0 0x400d0000  0x0 0xc000>,
					      <0xc0 0x400e0000  0x0 0xc000>,
					      <0xc0 0x400f0000  0x0 0xc000>;
					gpio-controller;
					#gpio-cells = <2>;
					interrupt-controller;
					#interrupt-cells = <2>;
					interrupts = <0 IRQ_TYPE_LEVEL_HIGH>,
						     <1 IRQ_TYPE_LEVEL_HIGH>,
						     <2 IRQ_TYPE_LEVEL_HIGH>;
				};
			};
		};
	};
};
